{% extends 'base.html' %}
{% block title %}Crie sua conta{% endblock %}
{% block content %}
<div class="flex column">
    {% for message in get_flashed_messages() %}
    <div class="flash flex">{{ message }}</div>
    {% endfor %}

    <div class="container column box-shadow" id="register-container">
    

        <div class="title">
            <h1>Crie sua conta</h1>
        </div>
    
        <form method="POST" id="register-form" class="flex column">
            <div class="flex column">
                <div>
                    <label for="user-name">Nome</label>
                    <span class="req-sign"> *</span>
                </div>
                <input type="text" name = "user-name" id="user-name" required>
            </div>
            
            <div class="flex column">
                <div>
                    <label for="user-id">CPF</label>
                    <span class="req-sign"> *</span>
                </div>
                <input type="text" name = "user-id" id="user-id" required>
            </div>
            
            <div class="flex column">
                <div>
                    <label for="user-birthday">Data de Nascimento</label>
                    <span class="req-sign"> *</span>
                </div>
                <input type="date" name = "user-birthday" id="user-birthday" required>
            </div>
    
            <div class="flex column">
                <div>
                    <label for="user-phone-number">Telefone</label>
                    <span class="req-sign"> *</span>
                </div>
                <input type="number" name = "user-phone-number" id="user-phone-number" required>
            </div>
            
            <div class="flex column">
                <div>
                    <label for="user-email">E-mail</label>
                    <span class="req-sign"> *</span>
                </div>
                <input type="email" name = "user-email" id="user-email" required>
            </div>
            
            <div class="flex column">
                <div>
                    <label for="user-password">Senha</label>
                    <span class="req-sign"> *</span>
                </div>
                <input type="password" name = "user-password" id="user-password" required>
            </div>
            
            <div>
                <button type="submit" value="register" id="register-bttn">Cadastrar</button>
            </div>
        </form>
    
        <div>
            <div>Já tem uma conta? <a href="{{ url_for('auth.login') }}">Faça login</a></div>  
        </div>
    </div>
</div>
 

{% endblock %}