{% extends 'base.html' %}
{% block title %}Seja bem-vindo{% endblock %}
{% block content %}
<div class="dashboard-container dash-radius">
    <div class="dashboard-col-left flex-2 flex column dash-radius">
        <div class="row row1 flex dash-radius box-shadow">
            <div id="user-greeting"> Olá, {{session['user_name']}}!</div>
            <div id="logout">
                <a href=" {{ url_for('auth.logout') }} ">Logout</a>
            </div>
        </div>

        <div class="row row2 flex dash-radius">
            <div class="row-col flex column dash-radius box-shadow" id="abrir-caixa">
                <span class="material-symbols-outlined m-48">
                    point_of_sale
                    </span>
                <div>Abrir caixa</div>
                <a href=" {{ url_for('cash_register.open') }} " class="card-link"></a>
            </div>
            <div class="row-col flex column dash-radius box-shadow" id="nova-venda">
                <span class="material-symbols-outlined m-48">
                    add_shopping_cart
                    </span>
                <div>Nova venda</div>
                <a href=" {{ url_for('sale.new_sale') }} " class="card-link"></a>
            </div>
            <div class="row-col flex column dash-radius box-shadow" id="fechar-caixa">
                <span class="material-symbols-outlined m-48">
                    enterprise_off
                    </span>
                <div>Fechar caixa</div>
                <a href=" {{ url_for('cash_register.close') }} " class="card-link"></a>
            </div>
        </div>

        <div class="row row3 flex dash-radius box-shadow">
            <div class="dashboard-search flex column">
                <div class="flex ">
                    <span class="material-symbols-outlined" style="margin-right: 10px">
                        quick_reference_all
                    </span>
                    <div>Buscar produto</div>
                </div>

                <form method="POST" name="product-search">
                    <input type="text" class="dashboard-search-input">
                    <button type="submit" class="search-button">Buscar</button>
                </form>

            </div>
        </div>
            
        <div class="row row4 flex dash-radius box-shadow">
            <div class="dashboard-search flex column">
                <div class="flex">
                    <span class="material-symbols-outlined" style="margin-right: 10px">
                        person_search
                    </span>
                    <div>Buscar cliente</div>
                </div>

                <form method="POST" name="client-search">
                    <input type="text" class="dashboard-search-input">
                    <button type="submit" class="search-button">Buscar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="dashboard-col-right flex-1 flex column dash-radius">
            <div class="row row5 flex column dash-radius box-shadow">
                <div class="dashboard-stats date">{{ date_time }}</div>

                <div class="flex dashboard-stats">
                    <span class="material-symbols-outlined m-36">
                        store
                    </span>

                    <div class="flex column">
                        <div name="sales-number">Aberto</div>
                        <label for="sales-number">Status do caixa</label>
                    </div>  
                </div>

                <div class="flex dashboard-stats">
                    <span class="material-symbols-outlined m-36">
                        receipt_long
                    </span>

                    <div class="flex column">
                        <div name="sales-number">0</div>
                        <label for="sales-number">Vendas</label>
                    </div>  
                </div>
                
                <div class="flex dashboard-stats">
                    <span class="material-symbols-outlined m-36">
                        sell
                    </span>

                    <div class="flex column">
                        <div name="products-sold">0</div>
                        <label for="products-sold">Produtos vendidos</label>
                    </div>

                </div>

                <div class="flex dashboard-stats">
                    <span class="material-symbols-outlined m-36">
                        payments
                    </span>

                    <div>
                        <div name="total-income">R$ 0</div>
                        <label for="total-income">Faturamento</label>
                    </div>
                </div>  
            </div>
            <div class="row row6 dash-radius flex column box-shadow">
                <div class="flex column dashboard-history" id="history">
                    <span class="material-symbols-outlined m-48">
                        bar_chart
                    </span>

                    <div>Histórico</div>
                </div>
            </div>
    </div>
</div>

{% endblock %}