{% extends 'base.html' %}
{% block title %}Nova venda{% endblock %}
{% block content %}

<div class="sales-container flex column">
        <div class="sale-search flex column">
            <div class="flex ">
                <span class="material-symbols-outlined" style="margin-right: 10px">
                    library_add
                </span>
                <div>Adicionar produto</div>
            </div>

            <form action="" method="POST" name="product-add">
                <input type="text" class="sale-add-input" name="product-id">
                <button type="submit" class="add-button">Adicionar</button>
            </form>

        </div>

        <div class="sale-list flex column border">
            {% for item in sale_itens %}
                <div class="sale-itens flex">
                    <div>{{item['name']}}</div>
                    <div>{{item['price']}}</div>
                    <div>{{item['author']}}</div>
                </div>
            {% endfor %}
        </div>
</div>

{% endblock %}