*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.m-48{
    font-size: 48px;
}

.m-36{
    font-size: 36px;
}

.m-16{
    font-size: 16px;
}

.flex{
    display: flex;
}

.flex-1{
    flex: 1;
}

.flex-2{
    flex: 2;
}

.column{
    flex-direction: column
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

body{
    min-height: 100vh;
    background-color: #DFEBF2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

input{
    border-color: #4A5934;
    border-width: 2px;
    border-radius: 15px;
    height: 30px;
    width: 250px;
    padding: 5px;
    margin-bottom: 12px;
}

input[type=radio] {
    border: 0px;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.dashboard-search-input{
    width: 400px;
}

.sale-add-input{
    width: 700px;
}

label{
    font-size: 12px;
}

button{
    background-color:#4A5934;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    width: 250px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
}

.search-button, .add-button, .cancel-sale-button{
    width: 100px;
    margin-bottom: 10px;
}

a:link {
    color: #8C5F37;
}

a:visited {
    color: #8C5F37;
}

a:hover {
    color: #99B1BF;
}

a:active {
    color: #99B1BF;
}

.container{
    width: 350px;
    height: 650px;
    margin: auto;
    padding: 20px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color:#ffffff;
    border-radius: 20px;
    font-size: 12px;
}

.box-shadow{
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
}

.border{
    border: 2px solid #3C4022;
}

#login-form-container{
    width: 400px;
    height: 400px;
}

.req-sign{
    font-size: 16px;
    color: red;
}

.title{
    margin-bottom: 20px;
}

#login-container{
    height: 400px;
}

.home-container, .sales-container{
    height: 600px;
    width: 900px;
    margin: auto;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color:#ffffff;
    border-radius: 20px;
    font-size: 12px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
}

.image-container{
    background: rgb(30,41,47);
    background: linear-gradient(180deg, rgba(30,41,47,1) 0%, rgba(96,137,162,1) 35%, rgba(225,237,245,1) 100%);
    overflow: hidden;
    border-radius: 20px 0px 0px 20px;
}

.home-image{
    object-fit: cover;
    opacity: 0.4;
    height: 600px;
    width: 100%;
    border-radius: 20px 0px 0px 20px;

}

.home-content-container{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-content{
    margin: 30px;
}

#home-register-button, .cancel-sale-button{
    color: #3C4022;
    background-color: #ffffff;
    border: 2px solid #3C4022;
}

.dashboard-container{
    height: 600px;
    width: 900px;
    display: flex;
    gap: 1em;
}

.dash-radius{
    border-radius: 2em;
}

.dashboard-col-left{
    gap: 1em;
}

.dashboard-col-right{
    gap: 1em;
}

.row{
    flex: 1;
    background-color: #ffffff; 
}

.row1{
    flex: 0.75;
    align-items: center;
    justify-content: left;
}

.row2{
    flex: 1.25;
    gap: 1em;
    background: none;
}

.row5{
    flex: 3.35;
}

.row6{
    background-color: #8FADBF;
}

.row-col{
    flex: 1;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 12px;
}

.card-link, .sale-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

#user-greeting{
    flex: 1;
    margin-left: 20px;
    justify-content: left;
    font-size: 20px;
    font-weight: 600;
}

#logout{
    flex: 1;
    margin-right: 20px;
    justify-content: right;
    text-align: right;
}

#abrir-caixa{
    background-color: #3C4022;
    color: #ffffff;
}

#nova-venda{
    background-color: #8C5332;
    color: #ffffff;
}

#fechar-caixa{
    background-color: #402A1E;
    color: #ffffff;
}

.dashboard-stats, .dashboard-search, .sale-search{
    margin: 24px 24px 16px 24px;
    justify-content: left;
    text-align: left;
    gap: 12px;
}

.dashboard-history{
    margin: 24px;
    justify-content: center;
    text-align: center;
    gap: 12px;
}

#history{
    color: #ffffff;
}

.date{
    font-size: 20px;
    font-weight: 800;
    color: #8C5332;
}

.cash-register-container{
    height: 300px;
    width: 500px;
    margin: auto;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color:#ffffff;
    border-radius: 20px;
    font-size: 12px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
}

.sale-list{
    flex: 3;
    width: 800px;
    margin: 0px 20px 20px 20px;
    border-radius: 15px;
    padding: 15px;
    overflow-y: scroll;
}

.sale-list::-webkit-scrollbar {
    margin: 10px;
}

.sale-list::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #4A5934;
}

.sale-itens{
    justify-content: space-between;
}

.item-quantity{
    gap: 20px;
    justify-content: center;
}

.item-delete, .alter-quantity{
    justify-content: right;
    position: relative;
}

.bottom-container{
    flex: 1.5;
    justify-content: space-between;
    width: 800px;
    margin-bottom: 30px;
}

.quantity, .total, .sale-date{
    gap: 30px;
}
.summary{
    flex:1;
}

.summary-title, .payment-title{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.sale-header{
    width: 800px;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 600;
}

.cancel-sale-button{
    margin: 0;
}

.checkout-form{
    flex: 2;
    justify-content: space-between;
}